@mixin font-face($family, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    src: url("./assets/fonts/#{$path}.woff") format("woff");
  }
}

@include font-face("Montserrat", "Montserrat-Bold", 700);
@include font-face("Montserrat", "Montserrat-Regular", 400);
@include font-face("Inconsolata", "Inconsolata-Regular", 400);


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * > * {
    @apply box-border;
  }

  html {
    @apply w-full h-full text-base-sm md:text-base-md scroll-smooth;
  }

  body {
    @apply w-full h-full font-primary bg-white text-base/2 text-gray-800;
  }

  footer {
    @apply flex gap-3 px-6 py-2;
  }


  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }

  h3 {
    @apply h3;
  }

  a {
    @apply w-fit relative text-accent-600 hover:text-accent-500
      transition-all cursor-pointer outline-none;
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center w-fit px-4 py-2 rounded
      uppercase tracking-wide text-white bg-accent-800 hover:bg-accent-700 transition-all;
  }

  table {
    @apply w-full;

    th, td {
      @apply px-2 font-normal text-left border-b;
    }

    th {
      @apply py-1 text-small text-gray-600 border-b-gray-400;
    }

    td {
      @apply py-2 border-b-gray-200;

      &.numeric {
        @apply font-secondary text-right;
      }
    }

    tr:last-child td {
      @apply border-b-0;
    }
  }
}

@layer utilities {
  .font-primary {
    font-family: "Montserrat", sans-serif;
  }

  .font-secondary {
    font-family: "Inconsolata", serif;
  }

  .h1 {
    @apply text-xl/1 font-bold;
  }

  .h2 {
    @apply text-lg/2;
  }

  .h3 {
    @apply text-md/2;
  }

  .text-small {
    @apply text-sm/2;
  }
}
